# ============================================================
# AgroSmart — Variáveis de Ambiente do Backend
# ============================================================

# Chave gratuita obtida em: https://openweathermap.org/api
OPENWEATHER_API_KEY=


# Broker MQTT público (padrão HiveMQ — mesmo usado pelo ESP32)
MQTT_BROKER=broker.hivemq.com
MQTT_PORT=1883

# Cidade usada para consulta de previsão de chuva
CITY=São Paulo